body {
  background-color: #07060B;
  
}
p{
  text-align: center;
  color: #07060B;
  font-size: 200%;
  font-family: Arial
}

h1{
  color: #4FCF91;
  font-size: 200%;
  text-align: center;
  font-family:
}
h2{
  text-align: center;
  color: #4FCF91;
  
}
h3{
  text-align: center;
  font-size: 30px;
  color:#4FCF91;
}
table{
  table align: center;
  
}
